<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Portfolio</span>
    <span id="sub-title">produced by goldayushi</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group animationDuration="0ms" color="primary" mat-align-tabs="center">
  <mat-tab label="Top">Top</mat-tab>
  <mat-tab label="Profile">
    <app-profile></app-profile>
  </mat-tab>
  <mat-tab label="Work">
    <app-work></app-work>
  </mat-tab>
  <mat-tab label="Skill">Skill</mat-tab>
  <mat-tab label="Contact">Contact</mat-tab>
</mat-tab-group>