<div class="button-row">
  <a href="#business"><button mat-raised-button color="accent">Business</button></a>
  <a href="#private"><button mat-raised-button color="accent">Private</button></a>
</div>

<div class="work">
  <a id="business"><h2>Business</h2></a>

  <div class="work-table">
    <table>
      <tr><th>プロジェクト</th><td>プロジェクト名</td></tr>
      <tr><th>概要</th><td>概要を書く</td></tr>
      <tr><th>担当役割</th><td>自分の役割を書く</td></tr>
      <tr><th>技術(IT)</th><td>技術要素を書く</td></tr>
      <tr><th>技術(その他)</th><td>コミュニケーションスキルなどを書く</td></tr>
    </table>
  
    <table>
      <tr><th>プロジェクト</th><td>プロジェクト名</td></tr>
      <tr><th>概要</th><td>概要を書く</td></tr>
      <tr><th>担当役割</th><td>自分の役割を書く</td></tr>
      <tr><th>技術(IT)</th><td>技術要素を書く</td></tr>
      <tr><th>技術(その他)</th><td>コミュニケーションスキルなどを書く</td></tr>
    </table>

    <table>
      <tr><th>プロジェクト</th><td>プロジェクト名</td></tr>
      <tr><th>概要</th><td>概要を書く</td></tr>
      <tr><th>担当役割</th><td>自分の役割を書く</td></tr>
      <tr><th>技術(IT)</th><td>技術要素を書く</td></tr>
      <tr><th>技術(その他)</th><td>コミュニケーションスキルなどを書く</td></tr>
    </table>
  </div>
</div>

<div class="work">
  <a id="private"><h2>Private</h2></a>

  <div class="work-table">
    <table>
      <tr><th>プロダクト</th><td>プロダクト名</td></tr>
      <tr><th>概要</th><td>概要を書く</td></tr>
      <tr><th>技術(IT)</th><td>技術要素を書く</td></tr>
      <tr><th>URL</th><td>成果物のURL</td></tr>
    </table>
  
    <table>
      <tr><th>プロダクト</th><td>プロダクト名</td></tr>
      <tr><th>概要</th><td>概要を書く</td></tr>
      <tr><th>技術(IT)</th><td>技術要素を書く</td></tr>
      <tr><th>URL</th><td>成果物のURL</td></tr>
    </table>
  </div>
</div>