<h1>ワーク</h1>

<div class="button-row">
  <a class="button-anchor" href="#business"><button mat-raised-button color="accent">業務</button></a>
  <a class="button-anchor" href="#private"><button mat-raised-button color="accent">個人開発</button></a>
</div>

<div class="work">
  <a id="business"><h2>業務</h2></a>

  <div class="work-table">
    <table>
      <tr>
        <th>プロジェクト</th>
        <td>リアルタイム音声認識アプリケーションの開発</td>
      </tr>
      <tr>
        <th>業務内容</th>
        <td>Google Speech-to-Text APIを利用し、入力した音声をリアルタイムでテキストとして出力するAPIの開発に参加しました。<br>
主に、句読点の挿入やワードの置換機能、Translation APIと組み合わせた翻訳機能をの実装を行いました。</td>
      </tr>
      <tr>
        <th>担当役割</th>
        <td>- Google Speech-to-Text APIの仕様調査<br>
            - アプリケーション開発(バックエンド、フロントエンド両方)<br>
            <p>- 詳細設計</p>
            <p>- 実装</p>
            <p>- テスト</p>
            <p>- リリース作業</p>
            - お客様との連絡窓口</td>
      </tr>
      <tr>
        <th>経験技術/習得知識</th>
        <td>
          JavaScript, HTML, CSS, Node.js, Docker, Kubernetes, GCP, Git<br>
          お客様対応力, 段取り力
        </td>
      </tr>
    </table>
  
    <table>
      <tr>
        <th>プロジェクト</th>
        <td>Webサービスの運用保守移管</td>
      </tr>
      <tr>
        <th>業務内容</th>
        <td>複数のWebサービスの運用保守業務を自社へ移管するプロジェクトに参加しました。<br>
引き継ぎ元ベンダとの調整や、業務フローの整備、運用保守体制の確立に携わりました。</td>
      </tr>
      <tr>
        <th>担当役割</th>
        <td>- お客様及び引き継ぎ元ベンダとの連絡窓口<br>
            - 業務内容のヒアリングと手順書の作成<br>
            - 業務フローの整備</td>
      </tr>
      <tr>
        <th>経験技術/習得知識</th>
        <td>折衝力, コミュニケーション力, 情報収集力</td>
      </tr>
    </table>

    <table>
      <tr>
        <th>プロジェクト</th>
        <td>Webサービスの運用保守業務</td>
      </tr>
      <tr>
        <th>業務内容</th>
        <td>Webサービスの運用保守のディレクション業務を1年以上行っています。<br>
            システムでアラートが発生した際に対応の取りまとめを行ったり、<br>
            システム改修が必要になった際に各関係者と調整したり等、タスクの推進を日々実施しております。</td></tr>
      <tr>
        <th>担当役割</th>
        <td>- お客様との連絡窓口<br>
            - 関係者との利害調整<br>
            - タスクの振り分け<br>
            - スケジュール管理・調整</td></tr>
      <tr>
        <th>経験技術/習得知識</th>
        <td>
          AWS<br>
          折衝力, コミュニケーション力, 推進力
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>プロジェクト</th>
        <td>Webアプリケーションのリプレイス開発</td>
      </tr>
      <tr>
        <th>業務内容</th>
        <td>既存のWebアプリケーションのPHPを5系から7系にアップデートをするプロジェクトに、プロジェクトリーダーとして参加しました。<br>
            スケジュールの管理や、タスクの振り分け、関係者との調整等を行い、プロジェクトを推進しました。<br>
            また、サーバのプロビジョニングも行いました。</td>
      </tr>
      <tr>
        <th>担当役割</th>
        <td>- プロジェクト推進<br>
            <p>- スケジュール管理・調整</p>
            <p>- タスクの振り分け</p>
            <p>- 関係者との利害調整</p>
            - ミドルウェアのプロビジョニング</td></tr>
      <tr>
        <th>経験技術/習得知識</th>
        <td>
          Apache, Ansible, AWS(EC2)<br>
          折衝力, コミュニケーション力, 推進力
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="work">
  <a id="private"><h2>個人開発</h2></a>

  <div class="work-table">
    <table>
      <tr>
        <th>プロダクト</th>
        <td>ゲストハウスの顧客管理用Webアプリケーション</td>
      </tr>
      <tr>
        <th>説明</th>
        <td>ゲストハウスを運営している友人に依頼され、ゲストハウスをいつ、誰が利用したかを記録するためのWebアプリケーションを制作しました。<br>
            また、ゲストハウスでイベントを実施する際に、誰がイベントに参加したかわかるようにしたいという要望に応えるために、
            チェックイン機能も実装しました。</td>
      </tr>
      <tr>
        <th>使用技術</th>
        <td>PHP, Laravel, PostgreSQL, HTML, CSS, Bootstrap, Heroku, Git</td>
      </tr>
      <tr>
        <th>実装した機能</th>
        <td>- ログイン機能<br>
            - 顧客一覧機能<br>
            - 顧客登録/編集/削除機能<br>
            - ユーザ管理機能(権限管理)</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>
          <a routerLink="/sample" target="_blank">サンプルページへ</a><br>
          <br>
          * 別タブで開きます。<br>
          * 現在実際に使用されているものであるため、画面キャプチャのみです。
        </td>
      </tr>
    </table>
  
    <table>
      <tr>
        <th>プロダクト</th>
        <td>創作小説の設定資料保管用Webアプリケーション</td>
      </tr>
      <tr>
        <th>説明</th>
        <td>趣味で創作している小説の設定を記録し、管理するためのWebアプリケーションを制作しました。<br>
            設定を確認したいときにすぐに参照できるよう、検索機能や並び替え機能を充実させました。<br>
            また、Circle CIを利用して、GitHubへのソースコードのpushをトリガーに、自動テスト、静的コード解析、Herokuへのデプロイまでを自動で実施するように設定し、
            リリースプロセスの自動化による運用の手間を削減しました。
        </td>
      </tr>
      <tr>
        <th>使用技術</th>
        <td>Ruby, Ruby on Rails, PostgreSQL, HTML, CSS, Materialize, Heroku, Circle CI, Git</td>
      </tr>
      <tr>
        <th>実装した機能</th>
        <td>- ログイン機能<br>
            - 登録データ表示機能<br>
            - データ登録/編集/削除機能<br>
            - ユーザ管理機能(権限管理)</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>
          <a href="https://story-reference-staging.herokuapp.com/login" target="_blank">https://story-reference-staging.herokuapp.com/login</a><br>
          <br>
          * 別タブで開きます。<br>
          * 開発環境のURLです。右上の「新規登録」から登録してログインするとご利用いただけます。権限は一般ユーザのため、登録、編集、削除機能はご利用になれません。
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <th>プロダクト</th>
        <td>ポートフォリオ</td>
      </tr>
      <tr>
        <th>使用技術</th>
        <td>TypeScript, Angular, HTML, SCSS, Git</td>
      </tr>
      <tr>
        <th>URL</th>
        <td>本サイトです。</td>
      </tr>
    </table>
  </div>
</div>