h1 {
  margin-top: 15px;
  text-align: center;
}

.button-row {
  text-align: center;
  margin: 15px auto 30px;
}

button {
  display: inline-block;
  margin-right: 10px;
}

.button-anchor {
  color: black;
  text-decoration: none;
}

.work {
  margin-top: 20px;
  text-align: center;
}

.work-table {
  display: inline-block;
  width: 90%;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px 30px;
}

table th {
  padding: 10px;
  background: #fff5e5;
  width: 20%;
}

table td {
  padding: 3px 10px;
  text-align: left;
}

table th, table td {
  border: solid 1px black;
}

p {
  text-indent: 1em;
  margin: 0em;
}