<h1>サンプル</h1>

<div class="guesthouse-app">
  <h2>顧客管理Webアプリケーション</h2>
  <p>実際に稼働しているシステムのため、開発環境のスクリーンショットのみの紹介とさせていただき、特定の情報は黒塗りさせていただきます。</p>
  
  <h3>登録一覧画面</h3>
  <img src="assets/images/index.png" alt="登録一覧画面">

  <h3>詳細画面</h3>
  <img src="assets/images/detail.png" alt="詳細画面">

  <h3>ユーザ管理画面</h3>
  <img src="assets/images/user.png" alt="ユーザ管理画面">

  <h3>ログイン画面</h3>
  <img src="assets/images/login.png" alt="ログイン画面">

  <h3>新規登録画面</h3>
  <img src="assets/images/signup.png" alt="新規登録画面">
</div>