<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>金城 亜優(アカウント名: goldayushi)</mat-card-title>
    <mat-card-subtitle>Kinjo Ayu</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      社会人3年目の25歳です。<br>

      経歴<br>
      2014年 神戸大学農学部入学<br>
      2018年 中小企業のSIerにエンジニア職で入社<br>
      　　　　リアルタイム音声認識アプリ開発に携わる<br>
      2019年 Webサービスの保守運用移管プロジェットにシステムディレクターとして参加<br>
      2020年 PHPアップデート開発プロジェクトにプロジェクトリーダーとして参加
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="github-button"><a href="https://github.com/goldayushi" target="_blank">GitHub</a></button>
    <button mat-raised-button id="qiita-button"><a href="https://qiita.com/goldayushi" target="_blank">Qiita</a></button>
  </mat-card-actions>
</mat-card>