<mat-card class="profile-card">
  <mat-card-header>
    <mat-card-title>金城 亜優(アカウント名: goldayushi)</mat-card-title>
    <mat-card-subtitle>Kinjo Ayu</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      社会人3年目の25歳です。未経験でエンジニア職に就き、アプリケーション開発や運用保守業務に携わってきました。<br>
      目的意識を持って仕事をすることを心がけています。IT技術に限らず、幅広い事柄に対する学習意欲が旺盛です。<br>
    </p>

    <h3>経歴</h3>
    <table>
      <tr><th>2018年</th><td>神戸大学農学部卒業<br>中小企業のSIerにエンジニア職で入社<br>リアルタイム音声認識アプリ開発に携わる</td></tr>
      <tr><th>2019年</th><td>Webサービスの運用保守移管プロジェットにディレクターとして参加</td></tr>
      <tr><th>2020年</th><td>PHPアップデート開発プロジェクトにプロジェクトリーダーとして参加</td></tr>
    </table>

    <h3>資格</h3>
    <table>
      <tr><td>基本情報技術者試験</td></tr>
      <tr><td>応用情報技術者試験</td></tr>
      <tr><td>Oracle Certified Java Programmer, Silver SE 8 認定資格</td></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button id="github-button"><a href="https://github.com/goldayushi" target="_blank">GitHub</a></button>
    <button mat-raised-button id="qiita-button"><a href="https://qiita.com/goldayushi" target="_blank">Qiita</a></button>
  </mat-card-actions>
</mat-card>