.profile-card {
  margin: 30px auto;
  max-width: 800px;
}

#github-button {
  background-color: black;
}

#qiita-button {
  background-color: #55C500;
}

a {
  color: white;
  text-decoration: none;
}

table {
  width: 700px;
  border-collapse: collapse;
  margin: 20px 30px;
}

table th {
  padding: 10px;
  color: black;
  background: #fff;
  width: 20%;
}

table td {
  padding: 3px 10px;
  text-align: left;
}

table th, table td {
  border: solid 1px black;
}