.example-card {
  margin-top: 5rem;
  max-width: 800px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#github-button {
  background-color: black;
}

#qiita-button {
  background-color: #55C500;
}

a {
  color: white;
  text-decoration: none;
}